@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height : 100%;
  width: 100%;
  font-family : 'Poppins', serif;
  color: #222;
}
.navbar {
  padding: .8rem;
  border-bottom: 1px solid #d5d5d5
}
.nav-item{
  color: #0037FF
}
.navbar-nav li{
  padding-right : 20px
}
.nav-link{
  font-size: 1.05em !important
}
.carousel-inner img{
  width: 100%;
  height: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
}
.carousel-caption h1 {
  font-size : 500%;
  font-weight: 400;
  text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3{
  font-size: 175%;
  font-weight: 400;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary{

}
.btn-primary:hover{

}
.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top : 2rem;
}
.welcome hr{
  border-top: 2px solid #b4b4b4
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-code{
  color: #e54d26
}
.fa-bold{
  color: #563d7c
}
.fa-css3{
  color: #2163af;
}
.fa-code, .fa-bold, .fa-css3, .fa-twitter, .fa-sign-language,.fa-user-md{
  font-size: 4em;
  margin: 1rem;
}
.social a{
  font-size: 4.5em;
  padding: 3rem;
}
.fa-github{
  color: #000;
}
.fa-linkedin{
  color: #0077B5;
}
.fa-twitter{
  color: #1DA1F2;
}
.fa-sign-language{
  color: #000
}
.fa-user-md{
  color: #EA80B0
}
.fa-github:hover,
.fa-linkedin:hover,
.fa-twitter:hover,
.fa-sign-language:hover,
.fa-user-md:hover{
  color: #d5d5d5
}
.img-thumbnail{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width:50%;
  height:100%;
}
.img-responsive{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding:5px;
  width: 150px;
}
.intro{
  line-height: 1.75em;
  font-size: 20pt;
}
/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
/*-- Scale font size --*/
@media (max width: @screen-xs)
{
  body{font-size: 50px;}
}
@media (max width: @screen-sm)
{
  body{font-size: 100px;}
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
